.container-fluid{
	background-color: #F8F8F6;
	margin-top: 0;
}
.ionsWrapper{
	width: 600px;
}
.ElementBox  {
	position: relative;
	font-size: 11px;
	width: 5%;
	margin: 0.27777%;
	padding: 3px;
	display: inline-block;
	border: 1px solid #00F; 
	line-height: 1.4;
}
.DropZone {
	width: 580px;
	padding:20px;
	border-radius: 4px;
	border:1px grey solid;
	position: relative;
}
.DropPlus .ion, .DropMinus .ion {
	pointer-events:none;
} 
.DropPlus{
	display: block;
	width:540px;
	height:75px;
	margin:0;
	padding:0;
}
.DropMinus{
	display: block;
	width:540px;
	height:75px;
	margin:0;
	padding:0;
}
.ion {
	display: inline-block;
	margin: 5px;
	vertical-align: bottom;
	position: relative;
	cursor:pointer;
	cursor: -webkit-grab; cursor: -moz-grab; 
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ion h3 {
	position: absolute;
	text-align: center;
	color:white;
}
.black-ion h3 {
	position: absolute;
	text-align: center;
	color:black;
}
.minus h3 {
	top:20px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right: auto;
}
.plus h3{
	top:15px;
	left:0;
	right:0;
	margin:0;
	margin-left:auto;
	margin-right: auto;
}
.onTop {
	z-index: 10;
}
#overlay {
    background-color: rgba(248, 248, 246, 0.7);
    border-radius: 4px;
    top:-1px;
    left:-1px;
    right:none;
    margin-left:none !important;
    width: 580px;
    height:192px;
    padding: 20px;
    position: absolute;
	z-index: 9;
	display: none;
}

#overlay h2 {
	margin:0;
	display: block;
	text-align: center;
	line-height: 150px;
	font-size: 50px;
}
#overlay .btn {
	right: 10px;
	top: auto;
	bottom: 10px;
	position: absolute;
	font-size: 25px;
	cursor: pointer;
	line-height: 1;
	margin:0;
	padding:0;
}
#overlay h2, #overlay .btn {
	display: none;
}
.feedback .btn-next {
	right: 10px;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	line-height: 1;
	margin:0;
	margin-left:10px;
	visibility: hidden;
}
.innerFeedbackWrapper {
	display: inline-block;
}
.glyphicon {
	padding: 6px 12px;
	top:0;
}

a:active {
    outline: none;
}
.activeSound, .activeSound:hover, #active {
	color: #FFF;
	background-color: #1DA6DB;
	border-color: #1DA6DB;
}
#active:hover{
	color: #ffffff;
	background-color: #1784ae;
	border-color: #167da5;
}
.feedbackZone, h1, .opgaveFormulering {
	width: 580px;
}
h1, .opgaveFormulering, .DropZone, .feedbackZone, .ionsWrapper {
	margin: 0 auto;
}
/*Deisgnguide tilretning*/
.opgaveFormulering {
	margin-top: 0px;
	margin-bottom: 20px;
}
h1 {
	margin-top:23px;
	margin-bottom: 11.5px
}
h5 {
	margin-top: 10px;
	margin-bottom: 15px;
}

.TaskNumberImg{width: 20px; height: 20px;}