body{}
.ionsWrapper{
	margin-top: 10px; 
	width: 600px;
}
.ElementBox  {
	position: relative;
	font-size: 11px;
	width: 5%;
	margin: 0.27777%;
	padding: 3px;
	display: inline-block;
	border: 1px solid #00F; 
	line-height: 1.4;
}  /* NOTE: 90/18 = 5%, og 5/18 = 0.27777% */
.DummyElement{
	position: relative;
	width: 5%;
	margin: 0.27777%;
	padding: 3px;
	display: inline-block;
}
.AtomNum {
	position: relative;
}
.AtomName {
	position: relative;
}
.AtomSymbol {
	position: relative;
	font-size: 18px;
}
.AtomWeight {
	position: relative;
}

.lbox{
	width: 12%;
}
.xlbox{
	width: 16%;
}
.sbox{
	width: 33%;
}
.DropZone {
	width: 580px;
	padding:20px;
	border-radius: 4px;
	border:1px grey solid;
}
.DropPlus{
	display: block;
	width:540px;
	height:75px;
	margin:0;
	padding:0;
}
.DropMinus{
	display: block;
	width:540px;
	height:75px;
	margin:0;
	padding:0;
}
.ion {
	display: inline-block;
	margin: 5px;
	vertical-align: bottom;
	position: relative;
	cursor: grab;
}
.ion h3 {
	position: absolute;
	text-align: center;
	color:white;
}
.minus h3 {
	top:20px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right: auto;
}
.plus h3{
	top:15px;
	left:0;
	right:0;
	margin:0;
	margin-left:auto;
	margin-right: auto;
}
.onTop {
	z-index: 10;
}
#overlay {
    border: 1px solid #C0C0C0;
    background-color: rgba(248, 248, 246, 0.7);
    border-radius: 3px;
    top: 0;
    right:none;
    margin-left:none !important;
    width: 580px;
    height:192px;
    padding: 20px;
    left: 0px;
    position: absolute;
	z-index: 10;
}

#overlay h2 {
	margin:0;
	display: block;
	text-align: center;
	line-height: 150px;
}
#overlay .btn {
	right: 10px;
	top: auto;
	bottom: 10px;
	position: absolute;
	font-size: 25px;
	cursor: pointer;
	line-height: 1;
	margin:0;
}
a:active {
    outline: none;
}
.activeSound, .activeSound:hover, #active {
	color: #FFF;
	background-color: #1DA6DB;
	border-color: #1DA6DB;
}
#active:hover{
	color: #ffffff;
	background-color: #1784ae;
	border-color: #167da5;
}
.opgaveFormulering {
	color:#999;
}